* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  list-style: none;
}
body {
  width: 85%;
  margin: 0px auto;
}

div.nav-bar {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  background: #fff;
}
.logo-session {
  display: flex;
  justify-content: start;
  align-items: center;
}
.logo-session a > img.logo {
  width: 3rem;
  margin-right: 3px;
}
.logo-session > h1 {
  font-family: "Inter", sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
}
.btn-outline-success1 {
  color: #101924;
  border: 2px solid #101924;
  width: 143px;
  height: 60px;
  border-radius: 5px;
}
.btn-outline-success1:hover {
  color: #fff;
  background: #101924;
  width: 143px;
  height: 60px;
  border-radius: 5px;
}

.btn-outline-success2 {
  color: #fff;
  background: #101924;
  width: 143px;
  height: 60px;
  border-radius: 5px;
  /* margin-right: 21px; */
}
.btn-outline-success2:hover {
  background: #fff;
  color: #101924;
  border: 2px solid #101924;
  width: 143px;
  height: 60px;
  border-radius: 5px;
}

.btn-outline-success3:hover {
  color: #fff;
  background: #101924;
  box-shadow: 0px 8px 12px rgba(80, 92, 189, 0.12);
  border-radius: 5px;
  width: 203px;
  height: 60px;
  /* margin-right: 21px; */
}
.btn-outline-success3 {
  margin-top: 20px;
  color: #fff;
  background: #101924;
  box-shadow: 0px 8px 12px rgba(80, 92, 189, 0.12);
  border-radius: 5px;
  width: 203px;
  height: 60px;
  /* margin-right: 21px; */
}
ul.nav-links {
  display: flex;
  margin: 0;
  padding: 0;
}
div.toggle {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
  text-align: right;
  display: none;
}
div.toggle i {
  color: white;
  font-size: 30px;
}
ul li {
  margin: 0 10.5px;
  list-style: none;
  font-size: 1.1rem;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
  /* padding: 1rem 0;
  margin-right: auto;
  margin-left: auto; */
}

.btn-primary {
  background: #fcf9f2 !important;
  border-radius: 5px;
  width: 244px;
  height: 44px;
  color: #fe8c01 !important;
  border: none;
  margin-bottom: 30px;
  cursor: none !important;
  /* margin: 0; */
}
.btn-primary:hover {
  background: #fcf9f2 !important;
  border-radius: 5px;
  width: 244px;
  height: 44px;
  color: #fe8c01;
  border: none;
}
div.hero-details > h1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 47px;
  line-height: 68px;
  margin-top: 12px;
  text-align: left;
}
div.hero-details > p {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 22px;
  line-height: 2rem;
  padding-top: 15px;
  /* padding-bottom: 12px; */
  text-align: left;
  /* letter-spacing: 2px; */
}
.footer-details {
  display: flex;
  justify-content: space-between;
}
.sIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sIcons > p {
  margin-left: 19px;
}
.sIcons > p > i {
  margin-left: 15px;
  color: #101924;
}
.hero-image {
  content: "";
  display: block;
  height: 390px;
  width: 690px;
  border-radius: 50%;
  position: relative;
  /* z-index: -1; */
  background: linear-gradient(153deg, rgb(240, 240, 240) 0px, rgb(240, 240, 240) 1%) 0px 0px;
  top: -20px;
  left: -55px;
  margin-left: 100px;
}
.hero-img {
  width: 250px;
  height: 490px;
  transform: rotate(10deg);
  margin-top: -40px;
  margin-left: 55px;
}
.footer {
  margin-top: 100px;
  margin-bottom: 20px;
  /* width: 80vw; */
  margin-left: auto;
  margin-right: auto;
}
.footer-hr {
  margin-bottom: 20px;
  border-top: 4px solid #f0efeb;
}
@media screen and (max-width: 768px) {
  .nav-bar ul {
    display: none;
  }
  .hero {
    flex-direction: column;
  }
  .badge {
    display: flex;
    justify-content: center;
    margin-top: -45px;
  }
  div.hero-details > h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
  }
  div.hero-details > p {
    font-family: Inter;
    font-weight: 200px;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    margin-top: 22px;
    /* margin-bottom: px; */
  }

  .landingBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-image {
    content: "";
    display: block;
    height: 290px;
    width: 290px;
    border-radius: 50%;
    position: relative;
    /* z-index: -1; */
    background: linear-gradient(153deg, rgb(240, 240, 240) 0px, rgb(240, 240, 240) 1%) 0px 0px;
    top: 90px;
  }
  .hero-img {
    width: 200px;
    height: 350px;
    transform: rotate(0deg);
    margin-top: -30px;
    margin-left: 40px;
  }
  .footer {
    margin-top: 130px;
    margin-bottom: 20px;
    /* width: 80vw; */
    margin-left: auto;
    margin-right: auto;
  }
  .footer-details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sIcons {
    margin-top: 15px;
  }
}
