.btn-outline-success1 {
  color: #0066f6;
  border: 2px solid #0066f6;
  width: 143px;
  height: 60px;
  margin-right: 21px;
}
.btn-outline-success2 {
  color: #fff;
  background: #0066f6;
  width: 143px;
  height: 60px;
  /* margin-right: -21px; */
}
.navbar-brand-img {
  height: 5%;
}
.bg-light {
  background: #fff !important;
}
